<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to hidden files & directories (.env, .git, etc.)
    RewriteRule ^\.(.*)$ - [F,L]

    # Prevent direct access to sensitive Laravel core directories
    RewriteRule ^(app|bootstrap|config|database|resources|routes|tests|vendor)(/.*)?$ - [F,L]
    RewriteRule ^storage/(framework|logs)(/.*)?$ - [F,L]

    # Send all other requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
